.site-footer {
    inline-size: 100%;
    max-inline-size: 100%;
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.08);

    &__wrapper {
        padding-inline: var(--site-margin);
        padding-block: 12px;
        display: flex;
        align-items: center;
        gap: 32px;
        max-inline-size: min(calc(1600px - var(--site-margin) * 2), calc(100% - var(--site-margin) * 2));
        margin-inline: auto;
    }
}