.section-featured-projects {
    margin-block: 70px;
    
    @media screen and (min-width: 840px) {
        margin-block: 140px;
    }

    header {
        margin-block-end: 80px;
    }

    .featured-projects__list {
        display: grid;
        grid-template-columns: 65% 1fr;
        grid-template-rows: auto auto;
        gap: 32px;

        .featured-projects__item {
            overflow: hidden;
            border-radius: 32px;
            background-color: var(--color--white-o);

            &:nth-child(1) {
                grid-row: 1 / 3;

                .featured-projects__item-content {
                    padding-block: 32px;
                    padding-inline: 32px;
                }
            }

            &-content {
                padding-block: 28px;
                padding-inline: 28px;
            }
        }
    }
}