@font-face {
    font-family:"source-code-pro";
    font-display:swap;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
    src:url("../../fonts/source-code-pro_normal-400.woff2") format("woff2");
}
@font-face {
    font-family:"source-code-pro";
    font-display:swap;
    font-style:normal;
    font-weight:500;
    font-stretch:normal;
    src:url("../../fonts/source-code-pro_normal-500.woff2") format("woff2");
}
@font-face {
    font-family:"source-code-pro";
    font-display:swap;
    font-style:normal;
    font-weight:600;
    font-stretch:normal;
    src:url("../../fonts/source-code-pro_normal-600.woff2") format("woff2");
}
@font-face {
    font-family:"source-sans-3";
    font-display:swap;
    font-style:italic;
    font-weight:400;
    font-stretch:normal;
    src:url("../../fonts/source-sans-3_italic-400.woff2") format("woff2");
}
@font-face {
    font-family:"source-sans-3";
    font-display:swap;
    font-style:italic;
    font-weight:700;
    font-stretch:normal;
    src:url("../../fonts/source-sans-3_italic-700.woff2") format("woff2");
}
@font-face {
    font-family:"source-sans-3";
    font-display:swap;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
    src:url("../../fonts/source-sans-3_normal-400.woff2") format("woff2");
}
@font-face {
    font-family:"source-sans-3";
    font-display:swap;
    font-style:normal;
    font-weight:700;
    font-stretch:normal;
    src:url("../../fonts/source-sans-3_normal-700.woff2") format("woff2");
}