:root {
    --color--white: #ffffff;
    --color--bg: #0e0e10;
    --color--green: #07b996;
    --color--blue: #00609a;
    --color--green--opaque: rgba(7, 185, 150, 0.15);
    --color--blue--opaque: rgba(0, 96, 154, 0.15);

    --site-margin: 20px;

    @media screen and (min-width: 780px) {
        --site-margin: 50px;
    }

    --color--text: #6b6375;
    --color--text-h: #08060d;
    --color--border: #e5e4e7;
    --color--code-bg: #f4f3ec;
    --color--accent: #aa3bff;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow:
        rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
}