.buttons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.button {

    .button__link {
        display: block;
        text-align: center;
        padding-block: 14px;
        padding-inline: 20px;
        background-color: var(--color--teal);
        border: 2px solid var(--color--teal);
        color: var(--color--bg);
        border-radius: 8px;
        text-decoration: none;
        font-weight: 600;
        font-family: var(--font--text);
        cursor: pointer;
        letter-spacing: .03125rem;
        transition: all 0.25s ease;
    
        &:hover,
        &:focus {
            background-color: var(--color--teal-o);
            backdrop-filter: blur(10px);
            color: var(--color--white);
        }
    }

    &--secondary {
        .button__link {
            background-color: transparent;
            color: var(--color--white);
        }
    }
}